<% content_for :head do %>
	<%= stylesheet_link_tag 'leaderboards/leaderboard', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'users/users', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'leaderboard/leaderboardsIndex', 'data-turbolinks-track' => true %>
<% end %>

<table id="userNames" class="table use-datatable table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>Rank</th>
			<th></th>
			<th>Friends</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		<% rank = 1 %>
		<% @friends_plus_me.each do |user| %>
			<% if user == current_user %>
			<tr class="info">
			<% else %>
			<tr>
			<% end %>
				<td><h2 class="center"><%= rank %></h2></td>
				<td>
					<%= render partial: "api/users/avatar", locals: { size: :thumb, user: user }%>
				</td>
				<td><%= user.username %></td>
				<td><%= 10 * user.books.length %></td>
			</tr>

			<% rank += 1 %>
		<% end %>
	</tbody>
</table>
