<% content_for :head do %>
	<%= stylesheet_link_tag 'leaderboards/leaderboard', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'users/users', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'leaderboard/leaderboardsIndex', 'data-turbolinks-track' => true %>
<% end %>

<table id="userNames" class="table use-datatable table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th></th>
			<th>Friends</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		<tr class="info">
			<td>
				<%= render partial: "api/users/avatar", locals: { size: :thumb, user: current_user } %>
			</td>
			<td><%= current_user.username %></td>
			<td><%= 10 * current_user.books.length %></td>
		</tr>
		<% current_user.friends.each do |friend| %>
			<tr>
				<td>
					<%= render partial: "api/users/avatar", locals: { size: :thumb, user: friend }%>
				</td>
				<td><%= friend.username %></td>
				<td><%= 10 * friend.books.length %></td>
			</tr>
		<% end %>
	</tbody>
</table>