<% content_for :head do %>
	<%= stylesheet_link_tag    'timeline/timeline', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'timeline/edit/timelineEdit', 'data-turbolinks-track' => true %>
<% end %>
	</head>
	<body>
		<%- title "Edit Progress" %>
		<div id="freewall" class="free-wall">
			<% @books.each do |book| %>
				<%
				@completed = ''
				if current_user.books.include?(book)
					@completed = "completed"
				end
				%>
				<%= content_tag(:div, class: ['brick', 'size12', 'clickable', @completed]) do %>
					<%= content_tag(:div, class: "cover") do %>
						<%= content_tag(:h2, book.name) %>
						<%= content_tag(:p, "Content goes here") %>
					<% end %>
				<% end %>
			<% end %>
		</div>
		
		<script type="text/javascript">
			$(function() {
				var wall = new Freewall("#freewall");
				wall.reset({
					selector: '.brick',
					animate: true,
					cellW: 160,
					cellH: 160,
					onResize: function() {
						wall.fitWidth();
					}
				});
				wall.addCustomEvent('onBlockLoad', function(setting){
					console.log(setting);
				});
				wall.fitWidth();
			});
		</script>
		<script type="text/javascript">
			$( ".brick" ).click(function() {
			var bookName = $(this).children('.cover').children('h2').html();
			var url = window.location.href;
			window.location.href = url + '/' + bookName; 
			//var book_name = $(this).children('.cover').children('h2').html();
  			});
		</script>
		
	</body>
