<% content_for :head do %>
	<%= stylesheet_link_tag    'timeline/timeline', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'timeline/edit/timelineEdit', 'data-turbolinks-track' => true %>
<% end %>
<style type="text/css">
	.brick{
		cursor: pointer;
	}
	.free-wall {
		margin: 10px;
	}
	/*[id='1-2']{
		background-image: url("http://biologos.org/uploads/questions/image-question5-large.jpg");
	}*/
</style>
	</head>
	<body>
		<%- title "Edit Progress" %>
		<div class='header'>
			<div class="clearfix">
				<div class="float-left">
						<h1>Pick a book</h1>
						<div class='target'>Text goes here!</div>
				</div>
			</div>
		</div>
		<div id="freewall" class="free-wall">

			<% @books.each do |book| %>
				<%= content_tag(:div, class: 'brick size12') do %>
					<%= content_tag(:div, class: "cover") do %>
						<%= content_tag(:h2, book.name) %>
						<%= content_tag(:p, "Content goes here") %>
					<% end %>
				<% end %>
			<% end %>
		</div>
		
		<script type="text/javascript">
			$(function() {
				var wall = new Freewall("#freewall");
				wall.reset({
					selector: '.brick',
					animate: true,
					cellW: 160,
					cellH: 160,
					onResize: function() {
						wall.fitWidth();
					}
				});
				wall.addCustomEvent('onBlockLoad', function(setting){
					console.log(setting);
				});
				wall.fitWidth();
			});
		</script>
		<script type="text/javascript">
			$( ".brick" ).click(function() {
			var bookName = $(this).children('.cover').children('h2').html();
			var url = window.location.href;
			window.location.href = url + '/' + bookName; 
			//var book_name = $(this).children('.cover').children('h2').html();
  			});
		</script>
		
	</body>
