<% content_for :head do %>
	<%= stylesheet_link_tag    'timeline/timeline', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'timeline/edit/timelineEdit', 'data-turbolinks-track' => true %>
<% end %>
<body>
	<%= content_tag(:div) do %>
		<%= content_tag(:div, class: 'timeline-bar-block') do %>
			<%= link_to 'My Progress', timeline_index_path %>
			<%= select_tag "Order", options_for_select(["Study Order", "Book Order"], "Study Order"), id: "book-order-select" %>
		<% end %>
	<% end %>

	<%- title "Edit Progress" %>
	<div id="freewall" class="free-wall">
		<%= render partial: "book_wall" %>
	</div>
	
	<script type="text/javascript">
		
	</script>
	<script type="text/javascript">
		$( ".brick" ).click(function() {
		var bookName = $(this).children('.cover').children('h2').html();
		var url = window.location.href;
		window.location.href = url + '/' + bookName; 
		//var book_name = $(this).children('.cover').children('h2').html();
			});
	</script>
	
</body>
