<% content_for :head do %>
	<%= stylesheet_link_tag 'timeline/timeline', media: 'all', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'timeline/index/timelineIndex', 'data-turbolinks-track' => true %>
<% end %>
<!-- Timeline css included in timeline partial -->

<%- title "Timeline" %>
<%= content_tag(:div) do %>
	<%= content_tag(:div, class: 'timeline-bar-block') do %>
		<%= link_to content_tag(:span, " Add Progress", class: "glyphicon glyphicon-plus"), timeline_edit_path, class: "btn btn-default" %>
	<% end %>
	<%= content_tag(:div, class: 'timeline-bar-block') do %>
		<%= text_field_tag(:bookSearch, nil, placeholder: 'Book Search', class: 'form-control') %>
	<% end %>
<% end %>

<% if @user.books.empty? %>
	<h2 class="center">You Haven't Started Yet!</h2>
<% else %>
	<%= render partial: 'timeline', locals: { user: @user } %>
<% end %>