<% content_for :head do %>
    <%= javascript_include_tag 'jquery.knob', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'timeline/update/timelineUpdate', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'timeline/index/timelineIndex', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'timeline/update/timelineUpdate', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%- title "#{@book.name}" %>
<div id="bookId" style="display:none;"><%= @book.id %></div>

<div class="timeline-bar-block form-inline">
    <%= link_to content_tag(:span, " Book List", class: "glyphicon glyphicon-arrow-left"), timeline_edit_path, class: "btn btn-default" %>

    <select id="questionNumber" class="form-control">
            <option value="default" disabled selected>Number of Questions</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="All">All</option>
    </select>

    <%= select_tag "question_type", options_for_select(["Pick Chapter", "Fill In Blank"], "Pick Chapter"), class: "form-control", id: "questionType" %>

    <%= button_tag(type: 'button', class: 'btn btn-default', onclick:"reviewBook('#{api_fill_in_blank_path(@book.id)}')") do
            content_tag(:span, " Take Quiz", class: "glyphicon glyphicon-education")
        end
    %>
</div>


<div class="container">
    <h1><%= @book.name %></h1>
    <h2><%= @passages.collection.first.text.html_safe %></h2>
    <input class="dial" value="0" rel="100">

    <% if current_user.books.include? @book %>
        <div class="completed-button-done btn btn-success btn-lg disabled">COMPLETED</div>
    <% else %>
        <div class="completed-button btn btn-danger btn-lg">COMPLETED</div>
    <% end %>

    <h2>Useful Study Tools</h2>
    <div id="tools">
        <%= render partial: 'tools/tool', locals: { book: @book } %>
    </div>
</div>
<script>
    createDial();
</script>


