<% content_for :head do %>
	<%= stylesheet_link_tag 'users/users', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'users/userShow', 'data-turbolinks-track' => true %>

<% end %>

<div class="container">
	<div class="row">
		<div id="profile-name" class="col-md-4">
			<h2><%= @user.firstname %> <%= @user.lastname %></h2>
		</div>
	</div>
	<div class="row">
		<div id="profile-info" class="col-md-4">
			Joined: <%= @user.created_at.to_formatted_s(:long_ordinal) %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<% if @user == current_user %>
				<p>
					<%= link_to "Edit Your Profile", edit_api_user_path(current_user) , class: "btn btn-default" %>
				</p>
			<% elsif current_user.friends.include? @user %>
				<!-- If this user is in the current_users friend list make a link to unfriend -->
				<!-- To get the friendship we would delete, find by friend_id with this user -->
				<%= link_to content_tag(:span, " Friends", class: "glyphicon glyphicon-ok"), api_friendship_path(current_user.friendships.find_by_friend_id(@user.id)), :method => :delete, class: "btn btn-default friend" %>
			<% elsif @user != current_user %>
				<!-- Otherwise, as long as this is not the current_user make alink to add friend -->
				<%= link_to "Add Friend", api_friend_request_path(@user), :method => :post, class: "btn btn-default add-friend" %>
			<% end %>
		</div>
	</div>

	<% if (@user == current_user || current_user.friends.include?(@user)) %>
	<!-- If this is the current user or a friend of the current user, we can see their progress -->

		<div class="row">
			<div class="col-md-8">
				<h3>Finished Books</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<% @user.books.each do |book| %>
					<p><%= book.name %></p>
				<% end %>
			</div>
		</div>
	<% end %>
</div>