<h1>My Profile</h1>
<p>Username: <%= @user.username %></p>
<h2>Your Friends</h2>
<ul>
	<% for friendship in @user.friendships %>
		<li>
			<%= h friendship.friend.username %>
			<%=  link_to "Unfriend", api_friendship_path(friendship), :method => :delete %>
			<!-- Because of api namespace we can't just use friendship model for path, but need to specify -->
		</li>
	<% end %>
</ul>
<h2>Your Friend Requests</h2>
<ul>
	<!-- If this is the current_user, show pending friend requests -->
	<% if @user == current_user %>
		<% for request in @user.friend_requests_for_me %>
			<li>
				Friend Request From: <%= request.user.username %>
				<%= link_to "Accept", api_friend_request_path(request), :method => :put %>
			</li>
		<% end %>
	<% end %>
</ul>