<% content_for :head do %>
	<%= stylesheet_link_tag 'bookreview/fillInBlanks', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'bookreview/fillInBlanksShow', 'data-turbolinks-track' => true %>
<% end %>

<% @passages.collection.each do |passage| %>
	<div class="show-passages">
		<p class="p"><%= passage['display'] %></p>
		<%= passage.text.html_safe %>
	</div>
<% end %>

<div class="blanks-page-wrapper">
	<div class="row">
		<div class="col-lg-9">
			<h1>Review <%= params[:id] %></h1>
		</div>
		<div class="col-xs-2">Score: <div id="score" class="blanks-score"></div>/<%= @passages.collection.length %></div>
	</div>
	<div id="pickChapter"></div>
</div>