<% content_for :head do %>
	<%= stylesheet_link_tag 'bookreview/fillInBlanks', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'bookreview/fillInBlanksShow', 'data-turbolinks-track' => true %>
<% end %>


<div class="container">

	<div class="form-inline">
		<%= link_to content_tag(:span, " Back to Book (Cancels Quiz)", class: "glyphicon glyphicon-arrow-left"), :back, class: "btn btn-default" %>
	</div>
	<% unless @passages.empty? %>
		<div>
			<div class="row">
				<div class="col-lg-9">
					<h1>Review <%= @book.name %></h1>
				</div>
				<div class="col-xs-2">
					Score: <div id="score" class="blanks-score"></div>/<div id="questionNumber" class="blanks-question-number"><%= @passages.length %></div>
				</div>
			</div>
			<div id="questions">
				<% if @type == "Pick Chapter" %>
					<h3>Pick the correct chapter that the verse is from</h3>
				<% elsif @type == "Fill In Blank" %>
					<h3>Type the word that is missing in the verse</h3>
				<% end %>

				<% @passages.each_with_index do |passage, num| %>
					<div class="row blanks-padding">
						<div class="col-md-2">
							<div class="row">
								<div class="col-md-2">
									<%= "#{num+1}." %>
								</div>
								<div class="col-md-10">
									<% if passage.questionType == "Pick Chapter" %>
										<%= text_field_tag "#{passage.reference}", nil, class: "answer-field blanks-chapter-answer form-control" %>
									<% elsif passage.questionType == "Fill In Blank" %>
										<%= text_field_tag "#{passage.answer}", nil, class: "answer-field blanks-fill-answer form-control" %>
									<% end %>										
									<div class="blanks-icon">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8">
							<%= passage.verse.html_safe %>
						</div>
						<div class="col-md-2 blanks-hidden">
							<% if passage.questionType == "Pick Chapter" %>
								<%= passage.reference %>
							<% elsif passage.questionType == "Fill In Blank" %>
								<%= "#{passage.answer}"%><br/>
								<%= "#{passage.reference}" %>
							<% end %>
						</div>
					</div>
				<% end %>

				<div class="row blanks-padding">
					<div class="col-xs-1">
					</div>
					<div class="col-lg-10 text-right">
						<button id="checkAnswers" class="btn btn-default btn-lg ghost-button-twitter" onclick="checkAnswers();">
							Check Answers
						</button>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="blanks-page-wrapper">
			<h2>Please go to fillInBlanksController and add some questions.</h2>
		</div>
	<% end %>
</div>