<nav class="margin-bottom">
    <ul class="nav navbar-nav navbar-left navbar-fixed-top" role="navigation">
  	 <li><a class="navbar-brand" href="#"><%= image_tag("bible-fitbit-logo.png", class: "style-image") %>
	   </a></li>
    <li><%= link_to content_tag(:span, "", :class=> ["glyphicon glyphicon-home"]), root_path %></li>
    <% if user_signed_in? %>
        <li><%= link_to 'My Profile', api_user_path(current_user) %></li>
        <li><%= link_to "Friends", api_friendships_path %></li>
        <li><%= link_to "Books", api_books_path %></li>
        <li><%= link_to 'Study Tools', home_tools_path %></li>
        <li><%= link_to 'Sign Out', destroy_api_user_session_path, :method => :delete %></li>
        <li class="pull-right nav-username">Hello, <%= current_user.firstname %></li>
        <li class="pull-right"><%= render partial: 'api/users/avatar', locals: {user: current_user, size: 'thumb'} %></li>
    <% else %>
        <!-- Using links for these but in application.js, jquery overrides the link to make an ajax call -->
        <li><%= link_to 'Sign In', new_api_user_session_path, id: "sign-in-link" %></li>
        <li><%= link_to 'Sign Up', new_api_user_registration_path, id: "sign-up-link" %></li>
    <% end %>
  </ul>
</nav>