<!DOCTYPE html>
<html>
<head>
  <title>BibleFitbit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'allBadges', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'homeIndex', 'data-turbolinks-track' => true %>
</head>
<%= render 'layouts/header_navbar' %>
<body>
	<div class="notification-container">
		<% if flash[:notice] %>
			<p class="notification notice"><%= notice %></p>
		<% end %>
		<% if flash[:alert] %>
			<p class="notification alert"><%= alert %></p>
		<% end %>
	</div>
	<%= yield %>
</body>
</html>
