<!DOCTYPE html>
<html>
<head>
  <title>BibleFitbit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'allBadges', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'homeIndex', 'data-turbolinks-track' => true %>
</head>
<body>

<div class="notification-container">
	<% if flash[:notice] %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<% if flash[:alert] %>
		<p class="alert"><%= alert %></p>
	<% end %>
</div>

	<h1>Bible FitBit!</h1>

	<%= link_to "Home", root_path %>
	<%= link_to "Users List", api_users_path %>
	<% if user_signed_in? %>
		<%= link_to 'My Profile', api_user_path(current_user) %>
		<%= link_to 'Sign Out', destroy_api_user_session_path, :method => :delete %>
		<%= link_to 'Friends', api_friendships_path %>
	<% end %>

	<%= yield %>
	<%= render 'layouts/user_widget' %>

</body>
</html>
