<!DOCTYPE html>
<html>
<head>
  <!-- <title>BibleFitbit</title> -->
  <title><%= content_for?(:title) ? content_for(:title) : "Bible Fitbit" %></title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header_navbar' %>
<body>
	<div class="notification-container">
		<% if flash[:notice] %>
			<p class="notification notice"><%= notice %></p>
		<% end %>
		<% if flash[:alert] %>
			<p class="notification alert"><%= alert %></p>
		<% end %>
	</div>
	<%= yield %>
</body>
</html>
