<% content_for :head do %>
	<%= stylesheet_link_tag 'users/users', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'friends/friendshipsIndex', 'data-turbolinks-track' => true %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Friends</h2>
			<div class="datatable-wrapper">
				<%= render partial: 'api/leaderboards/leaderboard' %>
			</div>
		</div>

		<div class="col-md-4" id="friend-side-bar">
			<!-- If this is the current_user, show pending friend requests -->
			<h3>Add Friends</h3>
			<div id="friend-search-container">
				<%= text_field_tag(:friendSearch, nil, placeholder: 'Search for friends by username or email!', class: "form-control") %>
			</div>

			<% if !@in_friend_requests.empty? %>
				<%= render partial: 'api/friend_requests/friend_request_from_list', locals: { in_friend_requests: @in_friend_requests} %>
	<% end %>
		</div>
	</div>

	

	
</div>
